/*************** Unite de mesure CSS****************/

/*Les pixel px :
A choisir pour :
Le trait et bordure et les elements generaux, lorsqu'il s'agit de designs a largeur fixe.
A evite pour :
La typographie, sauf s'il s'agit d'etablirune taille de police de base

Les pourcentages (%) :
A choisir pour : pour integrer des images et des conteneurs a taille variable; et pour définir la hauteur de la balise body dans certain cas.
A eviter pour :
La typographie ( la police )

em et ex :
A utilise pour : la typograpgie ( la police ) et les éléments qui y sont liés (Les marges par exemple)

vh et vw :
A choisir pour: la typographie, et pour des conteneurs.
*/
#conteneur{
    border: 2px solid;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    font-size: 1.2vw; /* vw spécifie une mesure en fonction de la taille de la fenêtre*/
}
header{
    background: #f6523f;
    height: 15vh;
}
p{
    margin: 0;
}
nav{
    background: #f6523f;
    height: 5vh;
}
section{
    background: #665533;
    margin: 2%;
}
footer{
    background: #32f65f;
    height: 7.5vh;
}
.a{
    float: left;
    width: 50%;
    height: 28vh;
    background:#336699;
}
.b{
    float: left;
    width: 50%;
    height: 28vh;
    background:#767676;
}
.c{
    float: left;
    width: 50%;
    height: 28vh;
    background: #fda500;
}
.d{
    float: left;
    width: 50%;
    height: 28vh;
    background: #aa2355;
}
.clear{
    clear: both;
}
