
body,p,div,header,footer,h1,h3,a,nav{
    margin:0;
    padding: 0;
    text-decoration: none;
    border: 0;

}
body{
    font-family: 'Cabin', sans-serif;
}

ul.Fleche{
    list-style-type: none;
}
a{
    padding-left: 60px;
    text-align: center;
}
ul.Fleche li{
    margin: 15px;
    background: url(../img/fleche.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 32px;
}
header{
    height: 100px;
    background: linear-gradient(white, grey);
}
.clear{
    clear: both;
}
.Hautviolet{
    width: 900px;
    height: 100px;
    margin-left: 500px;
}
.HautGauche, .HautDroit{
    float: left;
    height: 75px;
}

.HautGauche{
    width: 600px;
}
.HautDroit{
    width: 300px;
}
nav{
    width: 500px;
    margin-left: 250px;
    height: 25px;
}
.RecGch, .RecDrt{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.RecGch{
    height: 712px;
    width: 550px;
    margin-left: 30%;
}
.RecDrt{
    height: 712px;
    width: 350px;
}
.MiniRec1, .MiniRec2, .MiniRec3{
    float: right;
    width: 250px;
    height: 100px;
    margin-top: 4%;
    border: 1px solid black;
    border-radius: 20px;
}
footer{
    height: 100px;
    background: linear-gradient(grey, white)
}
.Bas{
    width: 900px;
    height: 100px;
    margin-left: 30%;
    text-align: center;
}
h3{
    border: 1px solid black;
    text-align: center;
    background: linear-gradient(grey, white);
    height: 20px;
    border-radius: 20px 20px 0 0;
}
#texte{
    float: left;
}
label{
    float: left;
    width: 200px;
    clear: both;
}
textarea{
    resize: none;/* Permet de fixer la fenêtre textarea */
}
