ul.fruit{
    list-style-type: none;
}
ul.fruit li{
    float: left;
    margin: 15px;
    background: url(fleche.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 32px;
}
hr{
    clear: both;
}
