@font-face {
    font-family: 'hirondelles_des_alpesitalic';
    src: url('Polices/hirondelles_des_alpes-webfont.woff2') format('woff2'),
         url('Polices/hirondelles_des_alpes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'hirondelles_des_alpesitalic';
    font-size: 50px;
}
